* {
  box-sizing: border-box;
  margin: unset;
  padding: 10px;
}

body {
  background-image: url('./img/network.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px;
  color: white;
}

.card-box {
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px;
  width: 250px;
  height: 80px;
  padding: 10px;
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}